
<nav hx-swap-oob="outerHTML:#order-id" id="order-id" hx-swap="none">
    <h1 id="<%= order._id %>"><div class="fw-bold">Order #<%= order._id %></div></h1>
</nav>


<div hx-swap-oob="innerHTML:#order-inner" id="order-inner">

<div class="container unpadSides">
  <div class="row-md">
      <div class="panel panel-default">
        <table id="orderDetails" class="table table-fixed table-hover">
          <thead>
            <tr>
<th class="mobile-col col-sm-4">Item</th><th class="mobile-col col-sm-2">Price</th><th class="mobile-col col-sm-2">Tax</th><th class="mobile-col col-sm-2">Qty</th><th class="mobile-col col-sm-2">Total</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < order.children.length; i++) { %>
            <% let item = order.children[i] %>
            <tr id="<%= item._id %>" class="<%=item.code%> <%= item._id == targetItem ? 'table-active' : ''%>">
            <td class="col-sm-4"><%= item.name %></td>
            <td class="col-sm-2"><%= currency %><%= item.price %></td>
            <td class="col-sm-2"><%= currency %><%= item.tax %></td>
            <td class="col-sm-2"><%= item.quantity %></td>
            <td class="col-sm-2"><%= currency %><%= Big(item.price).add(Big(item.tax)).times(item.quantity).toFixed(2) %></td>
            </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr class="d-flex justify-content-between">
            <td class="tablefoot"><div class="fw-bold">Items:</div> <%= order.children.reduce((a,b) => a + b.quantity,0) %></td>
            <td class="tablefoot"><div class="fw-bold">Subtotal:</div><%= currency %><%= order.subtotal %></td>
            <td class="tablefoot"><div class="fw-bold">Tax:</div><%= currency %><%= order.tax %></td>
            <td class="tablefoot"><div class="fw-bold">Balance:</div><%= currency %><span id="orderTotal"><%= order.total %></span></td>
            </tr>
          </tfoot>
        </table>
      </div>
  </div>
</div>



        </div>





                <% itemDetails = null %>
                <% for (const c of order.children) { %>
                <%     if (c._id == targetItem) { %>
                <%         itemDetails = c %>
                <%     } %>
                <% } %>
                <% if (itemDetails == null) { %>
                <%     itemDetails = order.children.at(-1) %>
                <% } %>
                <div id = "details" hx-swap-oob="innerHTML:#details">
                <h2 id="<%= itemDetails ? itemDetails._id : ""%>"><div class="fw-bold">Item Details</div></h2>
                <p class="details"><span class="fw-bold">Name: </span><span id="itemName"><%= itemDetails ? itemDetails.name : "" %></span></p>
                <p class="details"><span class="fw-bold">Code: </span><span id="itemCode"><%= itemDetails ? itemDetails.code : "" %></span></p>
                <p class="details"><span class="fw-bold">Quantity: </span><span id="itemQuantity"><%= itemDetails ? itemDetails.quantity : "" %></span></p>
                <p class="details"><span class="fw-bold">Price:</span> <span class="currency"><%= itemDetails ? currency : '' %></span><span id="itemPrice"><%= itemDetails ? itemDetails.price : "" %></span></p>
                <p class="details"><span class="fw-bold">Tax:</span> <span class="currency"><%= itemDetails ? currency : '' %></span><span id="itemTax"><%= itemDetails ? itemDetails.tax : "" %></span></p>
                <p class="details"><span class="fw-bold">Total:</span> <span class="currency"><%= itemDetails ? currency : '' %></span><span id="itemTotal"><%= itemDetails ? Big(itemDetails.price).plus(Big(itemDetails.tax)).times(Big(itemDetails.quantity)).toFixed(2) : "" %></span></p>
                </div>

