<%- include('partials/header') -%>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
    />
    <link rel="stylesheet" href="/css/pos.css" />
</head>

<body>

<div class="container-fluid">
    <div class="header top-row row">
        <div class="col-6 g=0">
            <nav>
                <h1 id="<%= order._id %>"><div class="fw-bold">Order #<%= order._id %></div></h1>
            </nav>
        </div>
        <div class="col-6 g=0">
            <nav class="navbar justify-content-end">
                <a class="menu btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvas" role="button">Menu</a>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">Functions</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas">
                    </div>
                    <div class="offcanvas-body">
                        <div>Current Order</div>
                        <div><a href="#" class="btn btn-primary my-1">Suspend Order</a></div>
                        <div><a href="#" class="btn btn-primary my-1">Void Order</a></div>
                        <div>Order Lookup</div>
                        <div><a href="#" class="btn btn-primary my-1">Suspended Orders</a></div>
                        <div><a href="#" class="btn btn-primary my-1">Completed Orders</a></div>
                        <div>Account</div>
                        <div><a href="#" class="btn btn-primary my-1">Add/Remove Items</a></div>
                        <div><a href="#" class="btn btn-primary my-1">Account Options</a></div>
                        <div><a href="/logout" class="btn btn-primary my-1">Logout</a></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="row mobile-column">
        <div class="order-info col-6 g-0-md">

<div class="container unpadSides">
  <div class="row-md">
      <div class="panel panel-default">
        <table id="orderDetails" class="table table-fixed table-hover">
          <thead>
            <tr>
<th class="mobile-col col-sm-4">Item</th><th class="mobile-col col-sm-2">Price</th><th class="mobile-col col-sm-2">Tax</th><th class="mobile-col col-sm-2">Qty</th><th class="mobile-col col-sm-2">Total</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < order.children.length; i++) { %>
            <% let item = order.children[i] %>
            <tr id="<%= item._id %>" class="<%=item.code%> <%= i === order.children.length -1 ? 'table-active' : ''%>">
            <td class="col-sm-4"><%= item.name %></td>
            <td class="col-sm-2"><%= item.price %></td>
            <td class="col-sm-2"><%= item.tax %></td>
            <td class="col-sm-2"><%= item.quantity %></td>
            <td class="col-sm-2"><%= Big(item.price).add(Big(item.tax)).times(item.quantity).toFixed(2) %></td>
            </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr class="d-flex justify-content-between">
            <td class="tablefoot"><div class="fw-bold">Items:</div> <%= order.children.reduce((a,b) => a + b.quantity,0) %></td>
            <td class="tablefoot"><div class="fw-bold">Subtotal:</div> <%= order.subtotal %></td>
            <td class="tablefoot"><div class="fw-bold">Tax:</div> <%= order.tax %></td>
            <td class="tablefoot"><div class="fw-bold">Balance:</div> <span id="orderTotal"><%= order.total %></span></td>
            </tr>
          </tfoot>
        </table>
      </div>
  </div>
</div>



        </div>


        <div class="item-info col-6 d-flex flex-column justify-content-between">

            <div class="card">
                <% itemDetails = order.children[(order.children.length-1)] %>
                <div class="card-body">
                <h2 id="<%= itemDetails ? itemDetails._id : ""%>"><div class="fw-bold">Item Details</div></h2>
                <p class="details"><span class="fw-bold">Name: </span><span id="itemName"><%= itemDetails ? itemDetails.name : "" %></span></p>
                <p class="details"><span class="fw-bold">Code: </span><span id="itemCode"><%= itemDetails ? itemDetails.code : "" %></span></p>
                <p class="details"><span class="fw-bold">Quantity: </span><span id="itemQuantity"><%= itemDetails ? itemDetails.quantity : "" %></span></p>
                <p class="details"><span class="fw-bold">Price: </span><span id="itemPrice"><%= itemDetails ? itemDetails.price : "" %></span></p>
                <p class="details"><span class="fw-bold">Tax: </span><span id="itemTax"><%= itemDetails ? itemDetails.tax : "" %></span></p>
                <p class="details"><span class="fw-bold">Total: </span><span id="itemTotal"><%= itemDetails ? Big(itemDetails.price).plus(Big(itemDetails.tax)).times(Big(itemDetails.quantity)).toFixed(2) : "" %></span></p>
                <div class="row flex-nowrap">
                <form class="col-2-md col-3" id="voidItem" action="/pos/voidItem/<%= order._id %>/<%= order.children.length ? itemDetails._id : 'x' %>/?_method=PUT" method="POST">
                    <button class=" btn btn-primary itemButton" type="submit">Void Item</button>
                </form>
                <form class="col-2-md col-3" id="voidLine" action="/pos/voidLine/<%= order._id %>/<%= order.children.length ? itemDetails._id : 'x' %>/?_method=PUT" method="POST">
                    <button class=" btn btn-primary itemButton" type="submit">Void Line</button>
                </form>
                <form class="col-6" id="priceOverride" action="/pos/priceOverride/<%= order._id %>/<%= order.children.length ? itemDetails._id : 'x' %>/?_method=PUT" method="POST">
                    <div class="input-group flex-nowrap unpadSides">
                    <input class="form-control" id="overridePrice" required name="price" type="number" step="0.01" min="0" max="9999.99" placeholder="0.00">
                    <button class="btn btn-primary overrideButton" type="submit">Price Override</button>
                    </div>
                </form>
                </div>
            </div>





        </div>


<div class="card removeBorder">
<div class="card-body unpadSides">
<form action="/pos/addItemToOrder/<%= order._id %>?_method=PUT" method="POST">
    <!-- <label for="searchInput" class="form-label">Search</label> -->
    <div class="input-group flex-nowrap">
          <div id="autocomplete"></div>
          <input type="hidden" id="searchInput" name="searchInput">
          <div class="form-floating flex-grow-1">
            <select name="searchCategory" class="form-select square">
              <option value="code">Item Code</option>
              <option value="name">Item Name</option>
            </select>
            <label for="searchCategory" class="form-label">Search by:</label>
          </div>
    <div class="form-floating flex-grow-1">
    <input type="number" id="formQuantity" name="formQuantity" value="1" min="1" max="99" class="form-control square flex-grow-1">
    <label for="formQuantity" class="form-label">Qty:</label>
    </div>
    <button type="submit" class="btn btn-primary searchButton flex-grow-1">Add Item</button>
    </div>
</form>

</div>
</div>



<div class="card removeBorder">
    <div class="card-body unpadSides unpadAll">
            <button type="button" class="btn btn-lg btn-success completeButton" data-bs-toggle="modal" data-bs-target="#paymentModal">Complete Order</button>
    </div>
</div>
    </div>
</div>







<div id="paymentModal" class="modal fade" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="paymentModalLabel">Payment Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="collapse" data-bs-target=".collapse.show" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <div class="collapse" id="cashCollapse" data-bs-parent=".modal-body">

                <div class="my-1">
                    <p><span class="fw-bold">Total due: </span><span id="grandTotal"></span></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Cash received:</span>
                        <input id="cashReceived" type="number" class="form-control" step="0.01" min="0.00" max="9999.99" placeholder="0.00">
                    </div>
                    <p><span class="fw-bold">Change due: </span><span id="change">0.00</span></p>
                </div>


                <form action="/pos/completeOrder/<%= order._id %>?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-success">Complete Order</button>
                </form>
                </div>
                <div class="collapse" id="cardCollapse" data-bs-parent=".modal-body">
                <p>Test</p>
                

                <form action="/pos/payment/<%= order._id %>?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-success">Complete Order</button>
                </form>



                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="collapse" data-bs-target=".collapse.show">Back</button>
                <button class="btn btn-primary" id="cashButton" data-bs-target="#cashCollapse" data-bs-toggle="collapse" data-bs-parent=".modal-body">Pay with Cash</button>
                <button class="btn btn-success" id="cardButton" data-bs-target="#cardCollapse" data-bs-toggle="collapse">Pay with Card</button>
            </div>

        </div>

</div>



<script src='/js/big.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<script>
  const { autocomplete } = window['@algolia/autocomplete-js'];
</script>

<script src="/js/pos.js"></script>

<%- include('partials/footer') -%>
